{% extends 'newsletter/base.html' %}
{% load my_tags%}


{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Создай свою рассылку, приведи клиентов</h1>
    <p class="lead">Какой-то хороший текст</p>
</div>
<div class="row">
    <div class="col-12">

        <div class="container">
            <div class="col-7">
                <p>
                    <a href="{% url 'newsletter:create_newsletter' %}" class="btn btn-primary my-2">Создать рассылку</a>
                    <a href="{% url 'newsletter:list_newsletter' %}" class="btn btn-primary my-2">Просмотреть список
                        рассылок</a>
                    <a href="#" class="btn btn-primary my-2">Перейти в блог</a>
                </p>
            </div>
        </div>


        <footer class="pt-4 my-md-5 pt-md-5 border-top">
            <div class="row">
                <div class="col-12 col-md">
                    <img class="mb-2" src="/img/brand/bootstrap-solid.svg" alt="логотип bootstrap" width="24"
                         height="24">
                    <small class="d-block mb-3 text-muted">&copy; 2017-2020</small>
                </div>
                <div class="col-6 col-md">
                    <h5>Особенности</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="link-secondary" href="#">Прикольная штука</a></li>
                        <li><a class="link-secondary" href="#">Случайная особенность</a></li>
                        <li><a class="link-secondary" href="#">Особенность команды</a></li>
                        <li><a class="link-secondary" href="#">Материал для разработчиков</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>Ресурсы</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="link-secondary" href="#">Ресурс</a></li>
                        <li><a class="link-secondary" href="#">Название ресурса</a></li>
                        <li><a class="link-secondary" href="#">Другой ресурс</a></li>
                        <li><a class="link-secondary" href="#">Заключительный ресурс</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>О нас</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="link-secondary" href="#">Команда</a></li>
                        <li><a class="link-secondary" href="#">Местоположение</a></li>
                        <li><a class="link-secondary" href="#">Конфиденциальность</a></li>
                        <li><a class="link-secondary" href="#">Сроки</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
</div>

{% endblock %}