{% extends 'newsletter/base.html' %}

{% block content %}

<div class="col-12 text-center">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body gx-6">
                    <form method="post">
                        {% csrf_token %}
                        <p>Хотите удалить {{ object }}?</p>
                        <button type="submit" class="btn btn-primary">Подтвердить?</button>
                        <a href="{% url 'newsletter:list_newsletter' %} ">Отмена</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}