{% extends 'newsletter/base.html' %}


{% block content %}
<div class="col-12">
    <div class="row">
        <div class="card">
            <div class="card text-center" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ object.status_of_mailing }}</h5>
                    <p class="card-text">{{ object.time_mailing }}</p>
                    <p class="card-text">Клиенты:
                        {% for element in object.client.all %}
                        {{ element.full_name}}
                        {% endfor %}
                    </p>
                    <div class="card-footer">
                        <a href="{% url 'newsletter:list_newsletter' %}" class="btn btn-primary">К списку продуктов</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}