{% extends 'newsletter/base.html' %}
{% load my_tags %}

{% block content %}
<div class="row">
  <div class="col-12">
    <form method="post">
      <div class="col-6">
        <div class="card">
          <div class="card-form">
            <div class="card-header">Добавить рассылку</div>
            <div class="card-body md-5">
              {% csrf_token %}
              {{ form.as_p }}
            </div>
            <div class="card-header">
              {% if object %}
              <button type="submit" class="btn btn-outline-primary">Сохранить</button>
              {% else %}
              <button type="submit" class="btn btn-outline-success">Создать рассылку</button>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>


{% endblock %}