{% extends 'newsletter/base.html' %}

{% block content %}
<div class="col-12">
    <form class="row" method="post">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        {% csrf_token %}
                        Подтверждение электронной почты
                    </h3>
                </div>
                <div class="card-body">
                    Ссылка для подтверждения Email адреса отправлена на вашу электронную почту!
                </div>
                <div class="card-footer">
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}